.content-con {
    display: flex;
}
.content-con-left {
    flex: 1;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 1.3%;
    height: 20%;
}
.content-con-right {
    flex: 5;
    margin-right: 20px;
}
.title-con {
    border-bottom: 1px solid #bdb9b9;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    background-color: #ffff;
}
.menu-con {
    border: 1px solid #bdb9b9;
    margin-bottom: 15px;
}
.nav-con {
    text-align: center;
    padding: 10px;
    background-color: rgb(211, 208, 204)
}


.table-RW {
    height: 742px;
    overflow: auto;
}
.road-work {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .col-md-12 {
        width: 100%;
    }
}

.title-active {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    background-color: rgb(245, 136, 136);
    cursor: pointer;
}

.nav-con-default {
    padding: 5px;
}

.nav-con-active {
    background-color: rgb(245, 136, 136);
    cursor: pointer;
    padding: 5px;
}

.nav-con-default:hover {
    background-color: rgb(245, 136, 136);
    cursor: pointer;
}
