
table {
    table-layout: fixed;
    width: 100%;
}

.react-bs-table {
    border: 1px solid #1f1e1e;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.react-bs-table .table-bordered>thead>tr>td, .react-bs-table .table-bordered>thead>tr>th {
    height: 50px;
    border-bottom: 1px solid black;
}
.react-bs-table-container {
    display: block;
    font-family: "Open Sans", Arial, sans-serif;
    // line-height: 1.6;
    // font-size: 16px;
    // background: #fff;
    // color: #848484;
    // font-weight: 300;
    overflow-x: hidden;
}
.react-bs-container-header {
    overflow: hidden;
    width: 100%;
}
.react-bs-table .table-bordered {
    border: 0;
    outline: 0!important;
}

.react-bs-table table {
    margin-bottom: 0;
    table-layout: fixed;
}
.content {
    display: flex;
    margin: 40px 17px 17px 17px;
    margin-right: 20px;
   
}

.content-left {
    flex: 2.7;
    margin-right: 10px;
}

.content-right {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #1f1e1e;
    height: 750px;
    overflow: auto;
    
}
.detail {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #1f1e1e;
    font-size: 130%;
}
.title {
    padding: 5px;
    background-color: beige;
    font-weight: 460;
}
.inner {
    display: flex;
    justify-content: space-between;

}

.inner-left {
    flex: 1
}
.inner-right {
    text-align: right;
    flex: 1;
}
.header {
    display: flex;
    height: 80px;
    background-color: #ffffff;
}
.left-header {
    display: flex;
    flex: 1;
    padding-top: 30px;
    padding-left: 20px;
}
.total_assets {
    margin-left: 6%;
}
.sync_data {
    border: 1px solid red;
    margin-bottom: 15px;
    /* padding: 1%; */
    margin-top: 15px;
    /* margin: 1%; */
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 13px;
    background: red;
    color: white;
    display: flex;
    cursor: pointer;
}

.sync_icon {
    border-style: none;
    margin: auto;
    margin-right: 8px;
    padding-bottom: 13px;
    width: 35px;
    height: 35px;
    color: #fff;
}