.header_pzi {
    display: flex;
    height: 60px;
    background-color: #c0bdbd;
    margin-bottom: 40px;
}

.left_header_pzi {
    display: flex;
    flex: 1;
    padding-top: 15px;
    padding-left: 20px;
}

.sync_data_pzi {
    border: 1px solid red;
    margin-bottom: 10px;
    /* padding: 1%; */
    margin-top: 10px;
    /* margin: 1%; */
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
    background: red;
    color: white;
    display: flex;
    cursor: pointer;
}

.title_pzi_active {
    font-weight: bold;
    margin-right: 12px;
    background-color: #e5e3e3;
    border-radius: 2px 2px 0px 0px;
    padding: 15px;
    cursor: pointer;
}

.title_pzi {
    font-weight: bold;
    margin-right: 12px;
    border-radius: 2px 2px 0px 0px;
    padding: 15px;
    // cursor: pointer;
}

// .title_pzi:hover {
//     background-color:#e5e3e3;
// }

.last_run {
    font-weight: bold;
    margin-right: 4%;
    margin-top: 1%;
}

.dropbtn {
    background-color: #f3f1f1;
    color: black;
    padding: 9px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-top: 11px;
    margin-right: 10px;
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
    margin-top: 5px;
    width: 188px;
    border-radius: 2px;
}

.dropdown-contenta {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-contenta:hover {
    background-color: #e5e3e3
}
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f3f1f1;
}
.table-pzi {
    margin-left: 20px;
    margin-right: 20px;
    height: 750px;
    overflow: auto;
}
// .react-bs-table {
//     height: 650px !important;
//     overflow-x: scroll !important 
// } 